<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>rsmuseum-ng documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">rsmuseum-ng documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../index.html">rsmuseum-ng documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../index.html"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="../index.html" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../modules.html" >
                            <span class="fa fa-archive"></span>
                            <span>Modules</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            ></span>
                        </a>
                        <ul class="links collapse in"
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/AppModule.html" >AppModule</a>
                                </li>
                                <li class="link">
                                    <a href="../modules/AppRoutingModule.html" >AppRoutingModule</a>
                                </li>
                                <li class="link">
                                    <a href="../modules/DatepickerModule.html" >DatepickerModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/AppComponent.html" >AppComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/DatepickerComponent.html" >DatepickerComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ErrorPageComponent.html" >ErrorPageComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/HeaderComponent.html" >HeaderComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/HomeComponent.html" >HomeComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/RegistrationFormComponent.html" >RegistrationFormComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/RegistrationItemComponent.html" >RegistrationItemComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/RegistrationListComponent.html" >RegistrationListComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/SearchComponent.html" >SearchComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/StatisticsComponent.html"  data-type="entity-link" class="active" >StatisticsComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/VolunteerComponent.html" >VolunteerComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/VolunteerItemComponent.html" >VolunteerItemComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/VolunteerListComponent.html" >VolunteerListComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-classes-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="../classes/BarChartData.html" >BarChartData</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/Calendar.html" >Calendar</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/Guild.html" >Guild</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/GuildStatistics.html" >GuildStatistics</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/RSMuseumNGPage.html" >RSMuseumNGPage</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/Registration.html" >Registration</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/Stat.html" >Stat</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/Volunteer.html" >Volunteer</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-injectables-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="../injectables/HelperService.html" >HelperService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/RegistrationService.html" >RegistrationService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/StatisticsService.html" >StatisticsService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/TestService.html" >TestService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/VolunteerService.html" >VolunteerService</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-plus"></span>
                            <span>Pipes</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-pipes-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-pipes-links"
                            >
                                <li class="link">
                                    <a href="../pipes/RegistrationFilterByVolunteerNamePipe.html" >RegistrationFilterByVolunteerNamePipe</a>
                                </li>
                                <li class="link">
                                    <a href="../pipes/VolunteerFilterByNamePipe.html" >VolunteerFilterByNamePipe</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../routes.html" ><span class="fa fa-code-fork"></span>Routes</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../index.html">rsmuseum-ng documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../index.html"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="../index.html" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../modules.html" >
                                   <span class="fa fa-archive"></span>
                                   <span>Modules</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#modules-links"
                                   ></span>
                               </a>
                               <ul class="links collapse in"
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/AppModule.html" >AppModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../modules/AppRoutingModule.html" >AppRoutingModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../modules/DatepickerModule.html" >DatepickerModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/AppComponent.html" >AppComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/DatepickerComponent.html" >DatepickerComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ErrorPageComponent.html" >ErrorPageComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/HeaderComponent.html" >HeaderComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/HomeComponent.html" >HomeComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/RegistrationFormComponent.html" >RegistrationFormComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/RegistrationItemComponent.html" >RegistrationItemComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/RegistrationListComponent.html" >RegistrationListComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/SearchComponent.html" >SearchComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/StatisticsComponent.html"  data-type="entity-link" class="active" >StatisticsComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/VolunteerComponent.html" >VolunteerComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/VolunteerItemComponent.html" >VolunteerItemComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/VolunteerListComponent.html" >VolunteerListComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#classes-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="../classes/BarChartData.html" >BarChartData</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/Calendar.html" >Calendar</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/Guild.html" >Guild</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/GuildStatistics.html" >GuildStatistics</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/RSMuseumNGPage.html" >RSMuseumNGPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/Registration.html" >Registration</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/Stat.html" >Stat</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/Volunteer.html" >Volunteer</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#injectables-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="../injectables/HelperService.html" >HelperService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/RegistrationService.html" >RegistrationService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/StatisticsService.html" >StatisticsService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/TestService.html" >TestService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/VolunteerService.html" >VolunteerService</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-plus"></span>
                                   <span>Pipes</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#pipes-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="pipes-links"
                   >
                                       <li class="link">
                                           <a href="../pipes/RegistrationFilterByVolunteerNamePipe.html" >RegistrationFilterByVolunteerNamePipe</a>
                                       </li>
                                       <li class="link">
                                           <a href="../pipes/VolunteerFilterByNamePipe.html" >VolunteerFilterByNamePipe</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../routes.html" ><span class="fa fa-code-fork"></span>Routes</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">


<ol class="breadcrumb">
  <li>Components</li>
  <li>StatisticsComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#infos" id="infos-tab" role="tab" data-toggle="tab" data-link="infos">Infos</a>
    </li>

    <li>
        <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
    </li>

    <li>
        <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
    </li>
    <li>
        <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="infos"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/statistics/statistics.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                <code><a href="https://angular.io/docs/ts/latest/api/core/index/OnInit-interface.html" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-data-view</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>statistics.component.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./statistics.component.html</code></td>
            </tr>


        </tbody>
    </table>
</section>



    <section>
        <h3 id="constructor">Constructor</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <code>constructor(statisticsService: <a href="../injectables/StatisticsService.html">StatisticsService</a>)</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">src/app/statistics/statistics.component.ts:28</a></div>
                            </td>
                        </tr>
    
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="methods">
                Methods
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> ngOnInit</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>ngOnInit()</code>
                        </td>
                    </tr>
    
    
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="31" class="link-to-prism">src/app/statistics/statistics.component.ts:31</a></div>
                            </td>
                        </tr>
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Static</span> chartClicked</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play export">
                                    <span class="fa fa-export"></span>
                                </span>
                            <code>chartClicked(e: any)</code>
                        </td>
                    </tr>
    
    
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="47" class="link-to-prism">src/app/statistics/statistics.component.ts:47</a></div>
                            </td>
                        </tr>
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Static</span> chartHovered</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play export">
                                    <span class="fa fa-export"></span>
                                </span>
                            <code>chartHovered(e: any)</code>
                        </td>
                    </tr>
    
    
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="48" class="link-to-prism">src/app/statistics/statistics.component.ts:48</a></div>
                            </td>
                        </tr>
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> onDateSelected</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>onDateSelected(date: Date)</code>
                        </td>
                    </tr>
    
    
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="50" class="link-to-prism">src/app/statistics/statistics.component.ts:50</a></div>
                            </td>
                        </tr>
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="inputs">
                Properties
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Static</span> barChartData</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-export"></span><code>barChartData:     <code>any[]</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="22" class="link-to-prism">src/app/statistics/statistics.component.ts:22</a></div>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> barChartLabels</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>barChartLabels:     <code>string[]</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="14" class="link-to-prism">src/app/statistics/statistics.component.ts:14</a></div>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> barChartLegend</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>barChartLegend:     <code>boolean</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value : </i><code>true</code>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="16" class="link-to-prism">src/app/statistics/statistics.component.ts:16</a></div>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> barChartOptions</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>barChartOptions:     <code>any</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="18" class="link-to-prism">src/app/statistics/statistics.component.ts:18</a></div>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> barChartType</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>barChartType:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value : </i><code>bar</code>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="15" class="link-to-prism">src/app/statistics/statistics.component.ts:15</a></div>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> dateFrom</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>dateFrom:     <code>Date</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="12" class="link-to-prism">src/app/statistics/statistics.component.ts:12</a></div>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> dateTo</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>dateTo:     <code>Date</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="13" class="link-to-prism">src/app/statistics/statistics.component.ts:13</a></div>
                            </td>
                        </tr>
                </tbody>
            </table>
    </section>
</div>


    <div class="tab-pane fade tab-source-code" id="source">
        <pre class="line-numbers"><code class="language-typescript">import {Component, OnInit} from &#x27;@angular/core&#x27;;
import {StatisticsService} from &#x27;./statistics.service&#x27;;
import {GuildStatistics} from &#x27;../shared/statistics.model&#x27;;
import {BarChartData} from &#x27;./barchartdata.model&#x27;;

@Component({
  selector: &#x27;app-data-view&#x27;,
  templateUrl: &#x27;./statistics.component.html&#x27;,
  styleUrls: [&#x27;./statistics.component.css&#x27;]
})
export class StatisticsComponent implements OnInit {
  dateFrom: Date;
  dateTo: Date;
  barChartLabels: string[] &#x3D; [&#x27;Jan&#x27;, &#x27;Feb&#x27;, &#x27;Mar&#x27;, &#x27;Apr&#x27;, &#x27;Maj&#x27;, &#x27;Jun&#x27;, &#x27;Jul&#x27;];
  barChartType &#x3D; &#x27;bar&#x27;;
  barChartLegend &#x3D; true;

  barChartOptions: any &#x3D; {
    scaleShowVerticalLines: false,
    responsive: true
  };
  public barChartData: any[] &#x3D; [
    {data: [], label: &#x27;Laug 1&#x27;},
    {data: [], label: &#x27;Laug 2&#x27;},
    {data: [], label: &#x27;Laug 3&#x27;},
    {data: [], label: &#x27;Laug 4&#x27;},
    {data: [], label: &#x27;Laug 5&#x27;}
  ];

  constructor(private statisticsService: StatisticsService) { }
  ngOnInit() {
    this.statisticsService.dateLabelsSubject
      .subscribe(
        (dateLabel: string[]) &#x3D;&gt; console.log(dateLabel),
        (error) &#x3D;&gt; console.log(&#x27;fejl&#x27;),
        () &#x3D;&gt; console.log(&#x27;complete&#x27;)
    );

    this.statisticsService.barChartDataSubject
      .subscribe(
        (data: BarChartData[]) &#x3D;&gt; this.barChartData &#x3D; data,
        (error) &#x3D;&gt; console.log(&#x27;fejl&#x27;),
        () &#x3D;&gt; console.log(&#x27;complete&#x27;)
      );
  }

  public chartClicked(e: any): void {}
  public chartHovered(e: any): void {}

  onDateSelected(date: Date) {
    this.dateFrom &#x3D; date;
    this.dateTo &#x3D; this.statisticsService.dateAddDays(this.dateFrom, 7);
    this.statisticsService.getGuildStatistics(this.dateFrom, this.dateTo);
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade" id="templateData">
        <pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;container&quot;&gt;
  &lt;div class&#x3D;&quot;col-xs-12&quot;&gt;
    &lt;label&gt;Dato:&lt;/label&gt;
    &lt;div class&#x3D;&quot;form-group input-group&quot;&gt;
      &lt;material-datepicker (onSelect)&#x3D;&quot;onDateSelected($event)&quot;&gt;&lt;/material-datepicker&gt;
    &lt;/div&gt;

    &lt;div&gt;
      &lt;div style&#x3D;&quot;display: block&quot;&gt;
        &lt;canvas baseChart
                [datasets]&#x3D;&quot;barChartData&quot;
                [labels]&#x3D;&quot;barChartLabels&quot;
                [options]&#x3D;&quot;barChartOptions&quot;
                [legend]&#x3D;&quot;barChartLegend&quot;
                [chartType]&#x3D;&quot;barChartType&quot;
                (chartHover)&#x3D;&quot;chartHovered($event)&quot;
                (chartClick)&#x3D;&quot;chartClicked($event)&quot;&gt;&lt;/canvas&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;


</code></pre>
    </div>

    <div class="tab-pane fade" id="tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="container">  <div class="col-xs-12">    <label>Dato:</label>    <div class="form-group input-group">      <material-datepicker (onSelect)="onDateSelected($event)"></material-datepicker>    </div>    <div>      <div style="display: block">        <canvas baseChart                [datasets]="barChartData"                [labels]="barChartLabels"                [options]="barChartOptions"                [legend]="barChartLegend"                [chartType]="barChartType"                (chartHover)="chartHovered($event)"                (chartClick)="chartClicked($event)"></canvas>      </div>    </div>  </div></div></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'DatepickerComponent', 'selector': 'material-datepicker'},{'name': 'ErrorPageComponent', 'selector': 'app-error-page'},{'name': 'HeaderComponent', 'selector': 'app-header'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'RegistrationFormComponent', 'selector': 'app-registration-form'},{'name': 'RegistrationItemComponent', 'selector': 'app-registration-item'},{'name': 'RegistrationListComponent', 'selector': 'app-registration-list'},{'name': 'SearchComponent', 'selector': 'app-search'},{'name': 'StatisticsComponent', 'selector': 'app-data-view'},{'name': 'VolunteerComponent', 'selector': 'app-volunteer'},{'name': 'VolunteerItemComponent', 'selector': 'app-volunteer-item'},{'name': 'VolunteerListComponent', 'selector': 'app-volunteer-list'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'StatisticsComponent'};
</script>
<script src="../js/tree.js"></script>









                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script>var COMPODOC_CURRENT_PAGE_DEPTH = 1;</script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
       <script src="../js/search/search_index.js"></script>

    </body>
</html>
